@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fefae0;
		--foreground: #2a2a2a;

		--border: #000;

		--hover: #8338ecaa;
	}

	html,
	body {
		@apply bg-background text-foreground border-border selection:bg-hover selection:text-background;
	}
}
